@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: #d7cfc3;
  --bg-container: #f8f0e8;
  --font-color: #605a56;
  --underline-color: #b46e53;
}

body {
  width: 100%;
  font-family: "mukta", sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--bg-body);
  color: var(--font-color);
  background-size: cover;
  background-position: center;
  grid-template-areas:
    "header header header header header"
    "aside main main main main";
}

header {
  grid-area: header;
  text-align: center;
  background-color: var(--bg-container);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  position: relative;
  font-family: "Aclonica", sans-serif;
  font-size: 26px;
}

.image-logo {
  width: 40px;
  height: 40px;
}

.image-logo img {
  width: 100%;
}

aside {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: aside;
  gap: 15px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 15px;
}

.message {
  background-color: var(--bg-container);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.day-message {
  font-size: 15px;
}

#day-number {
  font-size: 36px;
  margin-top: -16px;
  position: relative;
}

#day-number:after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 20px;
  height: 5px;
  background-color: var(--underline-color);
  left: 0;
}

.image {
  background-image: url("../images/image-quote.png");
  height: auto;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bottom {
  background-color: var(--bg-container);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.home,
.projects {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.home span,
.projects span {
  position: relative;
}

.home span:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 59px;
  height: 3px;
  background-color: var(--underline-color);
}

.home-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects {
  margin-top: 15px;
}

.projects span:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 79px;
  height: 3px;
  background-color: var(--underline-color);
}

.project-container {
  flex: 1;
}

.project-container > div {
  transition: all 0.3s ease-in;
  padding-left: 5px;
}

.project-container > div:hover {
  background-color: var(--bg-body);
}

.today,
.important,
.all-tasks,
.week-tasks {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-left: 5px;
  transition: all 0.3s ease-in;
}
.today:hover,
.important:hover,
.all-tasks:hover,
.week-tasks:hover {
  background-color: var(--bg-body);
}

.week-tasks span i {
  padding-left: 2px;
}

.list-item {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.edit-project {
  cursor: pointer;
  border: none;
  background: transparent;
}

.project-name {
  flex: 1;
}

.remove-li {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn-open-modal {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 90vh;
  position: relative;
  grid-area: main;
  padding: 12px 25px;
}

.container {
  width: 100%;
  min-height: 100%;
  background-color: var(--bg-container);
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: inherit;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-close {
  display: none;
}

#title-project {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}

.tasks-container {
  flex: 1;
}

.task-element {
  display: flex;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.258);
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
}

.task-details {
  display: flex;
  flex: 1;
}

.remove-task {
  border: none;
  background: transparent;
  cursor: pointer;
}

.add-task {
  cursor: pointer;
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}

footer {
  grid-column: 1/-1;
  text-align: center;
}

footer a {
  color: var(--underline-color);
}

/* form to add project */
.form-modal {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  transform: scale(0);
  transition: all 0.3s ease-in;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--underline-color);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.open {
  display: flex;
  transform: scale(1);
}

.add-project {
  padding: 6px 19px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--bg-body);
  transition: all 0.3s ease-in;
}

.add-project:hover {
  background-color: var(--bg-body);
  color: var(--font-color);
}

.close-modal {
  align-self: flex-end;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  border: none;
}

/* form to edit project */

.form-edit-project {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  transform: scale(0);
  transition: all 0.3s ease-in;
}

.open-form {
  display: flex;
  transform: scale(1);
}

#form-edit {
  background-color: var(--underline-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.add-edited-project {
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--bg-body);
  transition: all 0.3s ease-in;
}
.add-edited-project:hover {
  background-color: var(--bg-body);
  color: var(--font-color);
}

.close-edit-form {
  align-self: flex-end;
  background: transparent;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

/* form to add tasks */

.taskForm {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  transform: scale(0);
  transition: all 0.3s ease-in;
}

#formForTasks {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  background-color: var(--underline-color);
}

#formForTasks input {
  margin-bottom: 10px;
}

.add-task-to-list {
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--bg-body);
  transition: all 0.3s ease-in;
}

.add-task-to-list:hover {
  background-color: var(--bg-body);
  color: var(--font-color);
}

#close-task {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.open-task-form {
  display: flex;
  transform: scale(1);
}

/* form to edit task */
.edit-task-modal {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  transform: scale(0);
}

.edit-task-modal form {
  width: 300px;
  background-color: var(--underline-color);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
}

.edit-task-modal form input {
  margin-bottom: 10px;
}

.add-task-changes {
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--bg-body);
  transition: all 0.3s ease-in;
}

.add-task-changes:hover {
  background-color: var(--bg-body);
  color: var(--font-color);
}

#close-edit-task {
  align-self: flex-end;
  background: transparent;
  border: none;
}

#close-edit-task i {
  font-size: 22px;
  cursor: pointer;
}

.edit-task-modal.open {
  display: flex;
  transform: scale(1);
}

/* blur and hidden class */
.blur {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.hidden {
  display: none;
}
