@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #37a194;
  --second-color: #7713b4;
  --third-color: #e6c7dd;
  --fourth-color: #cff1f1;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "mukta", sans-serif;
  background-color: rgb(246, 246, 246);
}

header {
  grid-column: 1/-1;
  text-align: center;
}

.message {
  font-size: 20px;
}

.day-message {
  font-weight: 600;
}

aside {
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 300px;
}

.projects {
  font-size: 25px;
}

.today,
.important,
.all-tasks,
.week-tasks {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;

  position: relative;
}

.container {
  width: 80%;
  margin: auto;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-close {
  display: none;
}

#title-project {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  font-family: "aclonica" sans-serif;
}

.title {
  position: relative;
  font-family: "aclonica" sans-serif;
}

.title:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 130px;
  height: 15px;
  background-color: #e6c7dd;
  z-index: -1;
}

.tape {
  background-image: url("../images/tape.png");
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 40px;
  position: absolute;
}

.tape-left-top {
  transform: rotate(-45deg);
  top: 0;
  left: -45px;
}

.tape-left-bottom {
  bottom: 0;
  transform: rotate(45deg);
  left: -45px;
}

.tape-right-bottom {
  bottom: 0;
  right: -45px;
  transform: rotate(-45deg);
}

.tape-right-top {
  transform: rotate(45deg);
  right: -45px;
  top: 0;
}

.task-element {
  display: flex;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.258);
  border-radius: 10px;
  cursor: pointer;
}

.task-details {
  display: flex;
  padding-left: 15px;
  flex: 1;
}

.remove-task {
  border: none;
  background: transparent;
  cursor: pointer;
}

.due-date {
  padding-right: 15px;
}

.modal {
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.edit-task-modal form {
  width: 450px;
  height: auto;
  z-index: 4;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

#close-edit-task {
  align-self: flex-end;
  background: transparent;
  border: none;
}

#close-edit-task i {
  font-size: 22px;
  cursor: pointer;
}

.edit-project {
  cursor: pointer;
}

.remove-li {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn-open-modal {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 22px;
}

.add-task {
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
}

#form.buttons {
  display: flex;
}

/* js */
.form-modal {
  display: none;
}
.open {
  display: block;
}

.form-edit-project {
  display: none;
}

.open-form {
  display: block;
}

.hidden {
  display: none;
}

.list-item {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.taskForm {
  display: none;
}

.open-task-form {
  display: block;
}

.edit-task-modal {
  display: none;
}

.edit-task-modal.open {
  display: flex;
}
